<div class="container" ng-init="loadAllRoutesToDom()">
<a class="waves-effect waves-light btn-large blue darken-4" ng-click="goToSearch()">Create a route</a>
<a class="waves-effect waves-light btn-large blue darken-4" ng-click="goToYourRoutes()">Your routes</a>
<a class="waves-effect waves-light btn-large blue darken-4" ng-click="goToAllRoutes()">All routes</a>


    <div class="row">
        <div class="col s12 m6" ng-repeat="route in pokeRouteInfoList">
          <div class="card indigo darken-4">
            <div class="card-content white-text">
              <span class="card-title">{{route.name}}</span>
              <p>Starting address: {{route.address1}}</p>
              <p>Ending address: {{route.address2}}</p>
              <p>How far: {{route.routeLengthKM}}</p>
              <p>How long will it take: {{route.time}}</p>
              <p>Number of gyms: {{route.gyms}}</p>
              <p>Number of pokestops: {{route.pokestops}}</p>
              <p>Rare Pokemon: {{route.rare}}</p>
              <p>More details: {{route.details}}</p>
            </div>
            <div class="card-action">
         <button class="btn yellow accent-2" ng-click="routeEdit(route.routeid)"><span style="color: black">Edit route</span></button>
        <button class="btn red darken-1" ng-click="routeDelete(route.routeid)">Delete route</button>
            </div>
          </div>
        </div>
      </div>
</div>