
    <nav>
    <div class="nav-wrapper red darken-1">
        <a href="#/login" class="brand-logo">Before You  <img src="http://seeklogo.com/images/P/pokemon-go-logo-F26FDCA39C-seeklogo.com.png" alt="Pokemon Go logo" style="height: 55px"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/weather">Should I GO?</a></li>
        <li><a href="#/faq">Fighting FAQ</a></li>
        <li><a href="#/login" ng-click="logout()">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/weather">Should I GO?</a></li>
        <li><a href="#/faq">Fighting FAQ</a></li>
        <li><a href="#/login" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>






