<div class="container" ng-init="getRoute()">
<a class="waves-effect waves-light btn-large light-blue darken-1">Your routes</a>
<a class="waves-effect waves-light btn-large light-blue darken-1" ng-click="goToAllRoutes()">All routes</a>

<form>
      <div class="form-group">
      <label>Name of route</label>
        <input type="text" class="form-control" ng-model="pokeRouteInfo.name" ng-keypress="enterKeyPressed($event)"/>
        <label>Starting address</label>
        <input type="text" class="form-control" ng-model="pokeRouteInfo.address1" ng-keypress="enterKeyPressed($event)"/>
        <label>Ending address</label>
        <input type="text" class="form-control" ng-model="pokeRouteInfo.address2" ng-keypress="enterKeyPressed($event)"/>
         <label>Route length in kilometers</label>
        <input type="text" class="form-control" ng-model="pokeRouteInfo.routeLengthKM" ng-keypress="enterKeyPressed($event)"/>
         <label>Time to complete walk</label>
        <input type="text" class="form-control" ng-model="pokeRouteInfo.time" ng-keypress="enterKeyPressed($event)"/>
         <label>Number of Pokestops</label>
        <input type="text" class="form-control" ng-model="pokeRouteInfo.pokestops" ng-keypress="enterKeyPressed($event)"/>
        <label> Number of gyms</label>
        <input type="text" class="form-control" ng-model="pokeRouteInfo.gyms" ng-keypress="enterKeyPressed($event)"/>
        <label> Rare Pokemon sightings</label>
        <input type="text" class="form-control" ng-model="pokeRouteInfo.rare" ng-keypress="enterKeyPressed($event)"/>
        <label> Other details</label>
        <input type="textarea" class="form-control" ng-model="pokeRouteInfo.details" ng-keypress="enterKeyPressed($event)"/>
      </div>
      <button class="btn btn-default" ng-click="savePokeRouteInfo()">Save route</button>
    </form>

