<div class="container" ng-init="loadYourRoutesToDom()">
<a class="waves-effect waves-light btn-large light-blue darken-1" ng-click="goToYourRoutes()">Your routes</a>
<a class="waves-effect waves-light btn-large light-blue darken-1" ng-click="goToAllRoutes()">All routes</a>


<div ng-repeat="route in pokeRouteInfoList">
  <h1>{{route.name}}</h1>
  <p>Starting address: {{route.address1}}</p>
  <p>Ending address: {{route.address2}}</p>
  <p>How far: {{route.routeLengthKM}}</p>
  <p>How long will it take: {{route.time}}</p>
  <p>Number of gyms: {{route.gyms}}</p>
  <p>Number of pokestops: {{route.pokestops}}</p>
  <p>Rare Pokemon: {{route.rare}}</p>
  <p>More details: {{route.details}}</p>
  <button class="btn btn-caution" ng-click="routeEdit(route.routeid)">Edit route</button>
  <button class="btn btn-danger" ng-click="routeDelete(route.routeid)">Delete route</button>
</div>
</div>